.item-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.button-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
button {
  align-self: flex-end;
}
