/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@angular/material/theming";

@include mat-core();

$mat-theming-primary: mat.define-palette($mat-indigo);
$mat-theming-accent: mat.define-palette($mat-pink, A200, A100, A400);

$mat-theming-warn: mat.define-palette($mat-red);

$mat-theming-theme: mat.define-light-theme(
  (
    color: (
      primary: $mat-theming-primary,
      accent: $mat-theming-accent,
      warn: $mat-theming-warn,
    ),
  )
);
$mat-theming-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $mat-theming-primary,
      accent: $mat-theming-accent,
      warn: $mat-theming-warn,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme-dark {
  @include angular-material-theme($mat-theming-theme-dark);
}
.theme-light {
  @include angular-material-theme($mat-theming-theme);
}
